body {
background-image: url("sea.jpg");

}

#sky {
  height: 60%;
  width: 100%;
  top: 0;
  position: fixed;
  
}


#sail-boat {
  width: 200px;
  left: 300px;
  position: absolute;
  margin: 0 auto;
  left: 0;
  right: 0;
  bottom: -20px;
  -webkit-animation-name: Floatingx;
  -webkit-animation-duration: 2s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: ease-in-out;
  -moz-animation-name: Floating;
  -moz-animation-duration: 2s;
  -moz-animation-iteration-count: infinite;
  -moz-animation-timing-function: ease-in-out;
}

#ocean {
  
  position: fixed;
  height: 40%;
  bottom: 0;
  width: 100%;
  opacity: 0.9
}



@-webkit-keyframes Floatingx {
  from {
    -webkit-transform: translate(0, 0px);
  }
  65% {
    -webkit-transform: translate(0, 10px);
  }
  to {
    -webkit-transform: translate(0, -0px);
  }
}

@-moz-keyframes Floating {
  from {
    -moz-transform: translate(0, 0px);
  }
  65% {
    -moz-transform: translate(0, 10px);
  }
  to {
    -moz-transform: translate(0, -0px);
  }
}

#accordion {
    width: 400px;
    margin-top: 150px;
    border-color: black;
    
}

.card {
    background-image: url("sea.jpg");
    border-width: 0px;
}

.card-header {
    background-image: url("sea.jpg");
    border-color: black;
    color:black;
    
}

.title {
    color:black;
}

.contact {
    font-size: 20px;
    color:black;
    font-weight:500;
    padding:5px;
   
}

.right {
    text-align: right;
}

#header {
    background-image: url("sea.jpg");
}

#footer {
      background-image: url("footer.png");
}


#logo {
    padding:0px;
    margin:0px;
}